    <div class="group_pos"></div>
        <h1 class="text-center">New Group</h1>
        <div class="container">
            <center>
                <%= render 'form', group: @group %>
        
                <%= link_to 'Back', groups_path %> 
            </center> 
        </div>
        
    </div>

