 <div class="pos">
        <p id="notice"><%= notice %></p>
        <h1 class= "text-center">Editing User</h1>
        <%= render 'form', user: @user %>
        <%= link_to 'Back', @user, class:"mx-auto"%> 
        <%#= link_to 'Back', users_path %>
    </div>

