
        <p id="notice"><%= notice %></p>
        <%= render 'form', user: @user %>
        <button >
                <%= link_to 'Back', @user, class:"b"%>    
        </button>
        <%#= link_to 'Back', users_path %>


