
        <p id="notice"><%= notice %></p>
        <%= render 'form', user: @user %>
        <div class="container">
         <%= link_to '<<<back', @user, class:"btn btn-primary"%>       
        </div>

        <%#= link_to 'Back', users_path %>


