
    <div class="row">
        <div class="col-md-3">
            <% content_for(:sidebar) do %>
            <%= render :partial => "layouts/sidebar" %>
        <% end %>
        </div>
        
        <div class="col-md-9">
            <div class="wrapper">
                <div class= "main_container">
                    <div class="items">
                        <p>heloooooooooooooooooooooooooooo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


