<div class="wrapper">
    <div class="top_navbar">
        <button class="navbar-toggler hamburger" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span><i class="fas fa-bars"></i></span> 
        </button>
        <div class="top_menu">
            <div class="logo">
                <%= link_to "Cash Tracker", root_path %>
            </div>
              <%= nav_profile %>
        </div>
    </div>
    <%= side_nav %>
</div>